<template>
    <div class="text-center wrapper">
        <h2>СНТ несут огромные потери до 50%</h2>
        <button-el button-text="У НАС ЕСТЬ ГОТОВОЕ РЕШЕНИЕ"></button-el>
        <div class="arrows">Узнайте как экономят наши клиенты!</div>
    </div>
</template>
<script>
    import ButtonEl from '../elements/ButtonEl.vue'

    export default {
        components: {
            ButtonEl
        }
    }
</script>

<style scoped>
    .wrapper {
        background: #ea491a;
        padding: 43px 0 0 0;
    }
    h2 {
        font-size: 27px;
        font-weight: 900;
        color: #FFF;
        margin-top: 0;
        margin-bottom: 14px;
    }

    a {
        display: inline-block;
        float: none;
        background: #FFF;
        color: #ea491a;
        font-weight: 900;
        padding: 14px 10px;
    }

    .arrows {
        margin-top: 31px;
        font-size: 30px;
        font-weight: 900;
        color: #fdd94d;
    }

    .arrows:after {
        display: block;
        content: '';
        background-size: contain;
        background: url('../../assets/images/arrows.svg') no-repeat center;
        width: 100px;
        height: 66px;
        margin: 0 auto;
    }
</style>