<template>
    <div class="wrapper text-center">
        <div class="content">
            <h2>
                Как наши клиенты экономят<br />на потреблении ресурсов по ОДН?
            </h2>
            <div class="steps text-left">
                <div class="step text-left" v-for="(step, index) in steps">
                    <div class="heading background-yellow" v-html="step.heading"></div>
                    <div class="desc" v-html="step.desc"></div>
                </div>
            </div>
            <div class="home"></div>
            <div class="text-center">
                <a href="javascript:void(0)" class="button">Одномоментное снятие показаний со всех домов</a>
            </div>
            <h3>Хотите начать экономить до 50% на ОДПУ прямо сейчас?</h3>
            <div class="now-desc">Закажите счетчик прямо сейчас и получите<br />бесплатный расчет стоимости на ваш объект</div>
            <button-el button-text="Бесплатный расчет стоимости" button-class="yellow big cost"></button-el>
        </div>
    </div>
</template>
<script>
    import ButtonEl from '../elements/ButtonEl.vue'

    export default {
        components: {
            ButtonEl
        },
        data() {
            return {
                steps: [
                    {heading: 'Шаг 1', desc: 'Установка прибороов учета<br />с автоматической передачей<br />показаний'},
                    {heading: 'Шаг 2', desc: 'Дисперезация<br />существующего<br />прибора э/энергии'},
                    {heading: 'Шаг 3', desc: 'Одномоментное<br />снятие покзаний<br />со всех домов'},
                ]
            }
        }
    }
</script>
<style scoped>
    h2 {
        margin-bottom: 56px;
        font-size: 27px;
        font-weight: 900;
        margin-top: 15px;
    }

    .wrapper {
        background: #FFF;
        padding: 55px 0;
    }

    .steps {
        white-space: nowrap;
        text-align: center;
    }

    .steps .step {
        display: inline-block;
        white-space: normal;
    }

    .steps .step:last-child {
        width: 160px;
    }

    .step {
        content: '';
        display: inline-block;
        width: 422px;
        vertical-align: top;
    }

    .step .heading {
        position: relative;
        width: 125px;
        height: 56px;
        text-align: center;
        font-size: 27px;
        font-weight: 900;
        padding: 12px;
    }

    .step:not(:last-child) .heading:after {
        content: '';
        display: block;
        position: absolute;
        width: 225px;
        top: 27px;
        height: 0;
        left: 157px;
        border-bottom: dotted 5px #CCCCCC;
    }

    .step .desc {
        font-size: 19px;
        font-weight: 900;
        margin-top: 19px;
    }

    .step .dots {
        display: inline-block;
    }

    .home {
        background: url('../../assets/images/pic-snt.svg') no-repeat;
        background-size: contain;
        width: 800px;
        height: 395px;
        margin: 52px auto 0 auto;
    }

    .button {
        display: block;
        width: 550px;
        margin: 0 auto;
        border: solid 3px #ec4717;
        padding: 8px 0;
        font-weight: 700;
        font-size: 17px;
    }

    h3 {
        font-size: 25px;
        font-weight: 900;
        margin: 36px 0 10px 0;
    }

    .wrapper a.cost {
        margin: 30px auto 15px auto;
        float: none;
        display: inline-block;
    }

    @media screen and (max-width: 576px) {
        .button {
            width: auto;
        }
    }

    @media screen and (max-width: 992px) {
        .home {
            display: none;
        }

        .steps .step {
            display: block;
            margin: 0 auto;
            width: 300px;
            text-align: center;
        }

        .steps .step .heading {
            margin: 15px auto;
        }

        .steps .step .heading:after {
            display: none;
        }

        .button {
            margin-top: 15px;
        }
    }
</style>