<template>
    <div>
        <div class="text-center wrapper">
            <div class="content">
                <h2>{{ title }}</h2>
                <div class="description" v-html="desc"></div>
                <div class="flexbox">
                    <div v-for="item in items" class="text-left">
                        <div class="icon" v-bind:style="{'background-image' : 'url(\'' + require('../../assets/images/' + item.icon) + '\')' }"></div>
                        <div class="desc">
                            <h4 v-html="item.title"></h4>
                            <p>{{ item.desc }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped>
    .wrapper {
        padding: 50px 0 67px 0;
        background: #f0f0f0;
    }

    h2 {
        font-size: 28px;
    }

    .desc {
        display: inline-block;
        vertical-align: top;
        width: 265px;
        margin: 0 0 0 26px;

    }

    .description {
        margin-top: 30px;
        margin-bottom: 77px;
        font-size: 17px;
        font-weight: 700;
    }

    h4 {
        margin: 0;
        font-size: 23px;
    }

    .flexbox {
        display: flex;
        flex-wrap: wrap;
        margin-top: 63px;
    }

    .flexbox > div {
        flex-basis: 400px;
        flex-shrink: 1;
        flex-grow: 1;
    }

    .for .flexbox > div {
        flex-basis: 300px;
        flex-shrink: 1;
        flex-grow: 1;
    }

    .for .flexbox > div p {
        line-height: 1;
    }

    .for .flexbox > div:not(:nth-last-child(-n+2)) {
        margin-bottom: 26px;
    }

    .flexbox > div:not(:nth-last-child(-n+2)) {
        margin-bottom: 74px;
    }

    .flexbox > div:nth-child(2n) {
        margin-left: 150px;
    }

    .icon {
        display: inline-block;
        vertical-align: top;
        width: 110px;
        height: 110px;
        background: no-repeat center;
        background-size: cover;
    }

    .for .icon {
        display: inline-block;
        vertical-align: top;
        width: 88px;
        height: 88px;
        background: no-repeat center;
        background-size: cover;
    }

    .for .desc {
        width: 235px;
        margin-left: 19px;
    }

    .try-now {
        margin-top: 60px;
        padding: 38px 0 72px 0;
        background: #005995;
    }

    .try-now a {
        padding: 15px 65px;
    }

    .try-now h2 {
        font-size: 23px;
        font-weight: 900;
        color: #FFF;
        margin-bottom: 42px;
    }

    .for {
        padding: 53px 0 66px 0;
        background: #FFFFFF;
    }

    .for h2 {
        font-size: 28px;
        font-weight: 900;
        color: #000;
        margin-bottom: 84px;
        margin-top: 0;
    }

    @media  screen and (max-width: 992px){
        .flexbox > div {
            text-align: center;
            margin: 0 auto;
        }

        .flexbox > div .icon {
            display: block;
            margin: 0 auto;
        }

        .flexbox > div .desc {
            margin-left: 0;
        }

        .flexbox > div:nth-child(2n) {
            margin-left: 0;
        }
    }
</style>

<script>
    import ButtonEl from '../elements/ButtonEl.vue'

    export default {
        data() {
            return {
                title: 'Основные возможности',
                desc: 'Применяется для учета расхода холодной и горячей воды с накоплением<br/>и передачей этих накоплений в сеть LoRaWAN',
                items: [
                    {
                        icon: 'uniplatform.svg',
                        title: 'Доступна на всех девайсах',
                        desc: 'Счетчик электронный крыльчатый применяется для учета расхода холодной и горячей воды с накоплением и передачей этих'
                    },
                    {
                        icon: 'blue-calendar.svg',
                        title: 'Ежемесячный<br />контроль',
                        desc: 'Счетчик электронный крыльчатый применяется для учета расхода холодной и горячей воды с накоплением и передачей этих'
                    },
                    {
                        icon: 'sqdots.svg',
                        title: 'Опрос любых счетчиков',
                        desc: 'Опрашивайте показания своих счетчиков прямо на сайте или по заданному расписанию. Тепловая карта наглядно покажет дни когда'
                    },
                    {
                        icon: 'excel.svg',
                        title: 'Выгрузка показаний<br />в Microsoft Excel',
                        desc: 'Выгружайте ежемесячные и почасовые данные в форматах Microsoft Excel и профиль мощности по макету 80020'
                    }
                ]
            }
        },
        components: {
            ButtonEl
        }
    }
</script>