<template>
    <div>
        <div class="wrapper">
            <nav-panel :items="subs"></nav-panel>
            <div class="jumbo">
                <div class="content">
                    <div class="left">
                        <h3 v-html="heading"></h3>
                        <button-el v-bind:button-text="jumboButtonText"
                                   v-bind:button-class="jumboButtonClass"></button-el>
                    </div>
                    <div class="right">
                        <img src="../../assets/images/mac.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <opportunities-block></opportunities-block>
        <request-form></request-form>
    </div>
</template>
<script>
    import NavPanel from '../elements/NavPanel.vue'
    import AdvantageEl from '../elements/Advantage.vue'
    import ButtonEl from '../elements/ButtonEl.vue'
    import RequestForm from '../main/RequestForm.vue'
    import OpportunitiesBlock from './OpportunitiesBlock.vue'
    export default {
        data() {
            return {
                ribbonText: 'Пользуется большим спросом!',
                badgeText: 'Готовое решение для УК',
                heading: 'Программное обеспечение<br />для устройств LoRaWAN<span class="thin">™</span>',
                jumboButtonText: 'Бесплатная консультация',
                jumboButtonClass: 'big yellow',
                subs: [
                    {name: 'Водосчетчики', path: '/products/water'},
                    {name: 'Электросчетчики', path: '/products/electro'},
                    {name: 'Диспетчеризация для УК', path: '/products/uk-dispatch'},
                    {name: 'Диспетчеризация для СНТ', path: '/products/dispatching-snt'},
                    {name: 'Программное обеспечение', path: '/products/software'}
                ]
            }
        },
        components: {
            NavPanel,
            AdvantageEl,
            ButtonEl,
            RequestForm,
            OpportunitiesBlock,
        }
    }
</script>

<style scoped>
    a {
        margin-top: 10px;
        padding: 14px 19px;
    }

    .wrapper {
        padding-top: 50px;
    }

    .jumbo {
        padding: 75px 0 80px 0;
        position: relative;
        background: #FFF;
        background: url('../../assets/images/cover3.jpg') center no-repeat;
        min-height: 500px;
    }

    .jumbo .right img {
        width: 493px;
        margin-left: 78px;
        height: auto;
        margin-top: 4px;
    }

    .badge {
        display: inline-block;
        background-color: #ea491a;
        padding: 8px 20px;
        color: #FFFFFF;
        font-weight: 700;
        border-radius: 5px;
        font-size: 14px;
    }

    h3 {
        font-weight: 900;
        margin-bottom: 8px;
        color: #FFF;
        font-size: 34px;
        margin-top: 60px;
    }

    p {
        font-size: 17px;
        margin-bottom: 27px;
    }
</style>
