<template>
    <div class="wrapper">
        <div class="content">
            <h1>Наши кейсы</h1>
            <div class="flex">
                <div class="case" v-bind:style="{'background-image' : 'url(\'' + require('../assets/images/' + item.imageThumbnail) + '\')' }" v-for="item in $store.state.cases.cases">
                    <router-link :to="item.path" :class="'heading'">{{ item.heading }}</router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped>
    div.flex {
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
    }

    .wrapper {
        padding: 26px 0;
    }

    h1 {
        font-size: 27px;
    }

    .case {
        flex-grow: 1;
        flex-basis: 400px;
        height: 290px;
        position: relative;
        z-index: 0;
    }

    .case:nth-child(2n) {
        margin-left: 14px;
    }

    .case:nth-last-child(-n+2) {
        margin-top: 14px;
    }

    .case .heading {
        display: block;
        position: absolute;
        font-size: 22px;
        color: #FFF;
        font-weight: 900;
        bottom: 0;
        width: 100%;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 1));
        left: 0;
        padding: 60px 130px 34px 38px;
    }

    @media screen and (max-width: 992px) {
        .case {
            margin-top: 15px;
            flex-basis: 100%;
            background-size: 100%;
        }

        .case:nth-child(2n) {
            margin-left: 0;
        }

        .case:nth-last-child(-n+2) {
            margin-top: 15px;
        }
    }

    @media screen and (max-width: 768px) {
        .case {
            margin-top: 15px;
            flex-basis: 100%;
            background-size: cover;
        }
    }
</style>