<template>
    <div class="wrapper">
        <nav-panel :items="subs"></nav-panel>
        <div class="products">
            <div class="content">
                <div class="product text-center" v-for="(product, index) in $store.state.products[$route.params.category]">
                    <div class="label" v-bind:style="{'background-image' :  product.label ? 'url(\'' + require('../assets/images/' + product.label) + '\')' : '' }"></div>
                    <router-link :to="'/products/'+ $route.params.category  + '/'+ index" class="model gray">{{ product.name }}</router-link>
                    <router-link :to="'/products/'+ $route.params.category  + '/'+ index" class="name">{{ product.short }}</router-link>
                    <advantage-el :text="product.advantageShort" type="small"></advantage-el>
                    <div v-bind:class="product.oldPrice ? 'crossed price orange' : 'price'">
                        <div class="old-price gray" v-if="product.oldPrice">{{ product.oldPrice + ' ' + product.currency }}</div>
                        {{ product.price + ' ' + product.currency }}
                    </div>
                    <div class="delivery green">{{ product.delivery }}</div>
                    <div class="image">
                        <img v-bind:src="require('../assets/images/' + product.imageUrl)" alt="">
                    </div>
                    <div class="warranty">{{ product.warranty }}</div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import NavPanel from './elements/NavPanel.vue'
    import AdvantageEl from './elements/Advantage.vue'
    export default {
        props: ['items'],
        data() {
            return {
                subs: [
                    {name: 'Водосчетчики', path: '/products/water'},
                    {name: 'Электросчетчики', path: '/products/electro'},
                    {name: 'Диспетчеризация для УК', path: '/products/uk-dispatch'},
                    {name: 'Диспетчеризация для СНТ', path: '/products/dispatching-snt'},
                    {name: 'Программное обеспечение', path: '/products/software'}
                ]
            }
        },
        components: {
            NavPanel,
            AdvantageEl
        }
    }
</script>

<style scoped>
    .wrapper {
        padding-top: 60px;
    }

    .products .content {
        display: flex;
        flex-wrap: wrap;
    }



    .product {
        flex: 0 0 282px;
        min-height: 520px;
        background: #FFF;
        padding: 50px 16px 0 16px;
        position: relative;
        margin-top: 15px;
    }

    .product:not(:first-child) {
        margin-left: 15px;
    }

    @media screen and (max-width: 992px){
        .product {
            flex: 0 0 49%;
        }

        .products .content {
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .product:not(:first-child) {
            margin-left: 0;
        }
    }

    @media screen and (max-width: 768px) {
        .product {
            flex: 1 0 100%;
        }
    }

    .product .model {
        font-weight: 300;
        position: relative;
    }

    .old-price {
        text-decoration: line-through;
        position: absolute;
        left: 0;
        top: 2px;
        font-weight: 500;
        font-size: 16px;
    }

    .crossed {
        position: relative;
    }

    .label {
        position: absolute;
        top: 0;
        left: 0;
        width: 66px;
        height: 66px;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .product .name {
        font-weight: 700;
        margin-top: 10px;
        font-size: 16px;
        display: block;
    }

    .product .price {
        margin-top: 26px;
        font-size: 19px;
        font-weight: 700;
    }

    .product .image {
        margin-top: 13px;
        height: 180px;
    }

    .product .image img {
        width: auto;
        height: 100%;
    }

    .warranty {
        position: relative;
        color: #0671bc;
        font-size: 14px;
        font-weight: 700;
        margin-top: 58px;
    }

    .warranty:before {
        background: url('../assets/images/guarantee.svg') no-repeat center;
        content: '';
        display: block;
        width: 25px;
        position: absolute;
        height: 25px;
        left: 49px;
        top: -5px;
    }
</style>