<template>
    <div class="wrapper">
        <div class="content">
            <div class="left">
                <h1>Контакты</h1>
                <div class="phone">{{ $store.state.data.phone }}</div>
                <div class="email">{{ $store.state.data.email }}</div>
                <div class="adress">{{ $store.state.data.adress }}</div>
                <h2>Появился вопрос?</h2>
                <form>
                    <input type="text" v-bind:placeholder="nameInputPlaceholder" class="inline" name="request[name]" />
                    <input type="text" v-bind:placeholder="phoneInputPlaceholder" class="inline" name="request[phone]" />
                    <textarea v-bind:placeholder="textAreaPlaceholder"></textarea>
                    <section class="text-left">
                        <input type="checkbox" id="privacy-policy" name="request[policy]">
                        <label for="privacy-policy" v-html="checkBoxHtml"></label>
                        <button-el v-bind:button-text="buttonText" v-bind:button-class="buttonClass"></button-el>
                    </section>
                </form>
            </div>
            <div class="right">
                <iframe src="https://yandex.ru/map-widget/v1/-/CCRdY3S" width="100%" height="735" frameborder="1" allowfullscreen="true"></iframe>
            </div>
        </div>
    </div>
</template>
<script>
    import ButtonEl from './elements/ButtonEl.vue'

    export default {
        data() {
            return {
                buttonText: 'Отправить заявку',
                buttonClass: 'yellow big',
                nameInputPlaceholder: 'Ваше имя',
                phoneInputPlaceholder: 'Телефон',
                checkBoxHtml: 'Я согласен с <span class="bold"><a class="dark-blue" href="javascript:void(0)">Политикой конфиденциальности</a></span>',
                textAreaPlaceholder: 'Тут вы можете описать объект внедрения'
            }
        },
        components: {
            ButtonEl
        }
    }
</script>

<style scoped>
    .wrapper {
        padding: 10px 0;
    }

    .wrapper .content {
        display: flex;
    }

    iframe {
        border: none;
        outline: none;
        box-shadow: none;
    }

    .left,
    .right {
        vertical-align: top;
        background: #FFF;
    }

    .left {
        padding: 35px 63px 124px 63px;
        flex-basis: 465px;
    }

    .right {
        flex-basis: 715px;
    }

    .phone, .adress, .email {
        color: #000;
        position: relative;
    }

    a.yellow.big {
        width: 100%;
        text-align: center;
        margin-top: 21px;
    }

    .phone {
        margin-top: 32px;
        padding-left: 32px;
    }

    .email {
        margin-top: 14px;
        padding-left: 32px;
    }

    .adress {
        width: 280px;
        margin-top: 16px;
        font-size: 14px;
        font-weight: 300;
    }

    .phone:before {
        content: '';
        width: 24px;
        left: 0;
        top: -4px;
        height: 24px;
        position: absolute;
        background: url('../assets/images/phone-yellow.svg') center no-repeat;
    }

    .email:before {
        content: '';
        width: 24px;
        left: 0;
        top: -4px;
        height: 24px;
        position: absolute;
        background: url('../assets/images/email-yellow.svg') center no-repeat;
    }

    h2 {
        font-size: 21px;
        margin-top: 40px;
    }

    form {
        width: 340px;
    }

    form input[type=text] {
        display: block;
        width: 340px;
        height: 56px;
        border: solid 1px #CCC;
        padding: 10px 18px;
        font-size: 14px;
        font-weight: 700;
    }

    textarea {
        margin-top: 5px;
        resize: none;
        border: solid 1px #CCC;
        display: block;
        width: 340px;
        height: 105px;
        padding: 15px 17px;
        font-size: 14px;
    }


    form input[type=text]:not(:first-child) {
        margin-top: 5px;
    }

    input.inline:-moz-placeholder,
    input.inline:-ms-input-placeholder,
    input.inline::-moz-placeholder,
    input.inline::-webkit-input-placeholder {
        color: #b0aeae;
        font-weight: 300 !important;
    }

    @media screen and (max-width: 992px) {
        .left {
            padding: 35px 15px 124px 15px;
        }
    }

    @media screen and (max-width: 768px) {
        .wrapper .content {
            flex-direction: column-reverse;
        }

        .left form, .left form input, .left form textarea {
            width: 100%;
        }
    }
</style>