<template>
    <div>
        <nav-panel :items="subs"></nav-panel>
        Products
    </div>
</template>
<script>
    import NavPanel from './elements/NavPanel.vue'
    export default {
        data() {
            return {
                subs: [
                    {name: 'Водосчетчики', path: '/products/water'},
                    {name: 'Электросчетчики', path: '/products/electro'},
                    {name: 'Диспетчеризация для УК', path: '/products/dispatching-uk'},
                    {name: 'Диспетчеризация для СНТ', path: '/products/dispatching-snt'},
                    {name: 'Программное обеспечение', path: '/products/software'}
                ]
            }
        },
        components: {
            NavPanel
        }
    }
</script>