<template>
    <div>
        <div class="wrapper">
            <div class="content">
                <h1>Наши услуги</h1>
                <div class="services">
                    <div :class="'service ' + service.type" v-for="service in $store.state.services.services">
                        <div class="backgrounded" v-bind:style="{'background': service.background}">
                            <div class="icon" v-bind:style="{'background-image' : 'url(\'' + require('../assets/images/' + service.icon) + '\')' }"></div>
                            <h2 v-html="service.bigHeading"></h2>
                            <button-el  v-on:click.native="modal.showModal = true" v-bind:button-text="service.buttonText" v-bind:button-class="service.buttonClass"></button-el>
                        </div>
                        <div class="description">
                            <h3 v-html="service.descHeading"></h3>
                            <p v-html="service.description"></p>
                            <ul :class="'items ' + service.itemMarker">
                                <li class="item" v-for="(item, index) in service.items">
                                    <div v-if="service.itemMarker === 'lines'" class="line" v-bind:style="{'background': service.itemMarkerColor}"></div>
                                    <div v-else class="number" v-text="index + 1" v-bind:style="{'background': service.itemMarkerColor}"></div>
                                    <span v-html="item"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <for-who></for-who>
        <request-form></request-form>
        <modal
                v-if="modal.showModal"
                v-on:submit="modal.showModal = false"
                v-bind:width="modal.width"
                v-bind:height="modal.height"
                v-bind:buttonText="modal.buttonText"
                v-bind:buttonClass="modal.buttonClass"
                v-bind:header="modal.header"
                v-bind:body="modal.body"
                v-bind:footer="modal.footer"
                @close="modal.showModal = false">
        </modal>
    </div>
</template>

<script>
    import ButtonEl from './elements/ButtonEl.vue'
    import RequestForm from './main/RequestForm.vue'
    import ForWho from './product/ForWho.vue'
    import Modal from './Modal.vue'

    const modalBody = [
        '<p>Пожалуйста введите ваши контактные данные, мы<br/>обязательно с вами свяжемся</p>',
        '<form>',
        '<input type="text" name="request[name]" placeholder="Ваше имя">',
        '<input type="text" name="request[phone]" placeholder="Телефон">',
        '<input type="checkbox" id="privacy-policy" name="request[policy]">',
        '<label for="privacy-policy">Я принимаю все <a>Условия и Соглашения</a></label>',
        '</form>'
    ].join('')

    export default {
        components: {
            ButtonEl,
            ForWho,
            RequestForm,
            Modal
        },
        data() {
            return {
                modal: {
                    showModal: false,
                    width: '685px',
                    height: '565px',
                    header: 'Заказать услугу',
                    body: modalBody,
                    buttonText: 'Отправить заявку',
                    buttonClass: 'big yellow no-float'
                }
            }

        }
    }
</script>

<style scoped>
    h1 {
        display: block;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
        font-size: 27px;
    }

    h2 {
        color: #FFFFFF;
        white-space: nowrap;
        margin-top: 34px;
        margin-bottom: 23px;
        line-height: 1.1;
        width: 260px;
    }

    .description {
        padding: 37px 60px 0 60px;
    }

    h3 {
        font-size: 23px;
    }

    .service {
        display: flex;
        background: #FFFFFF;
        margin-bottom: 20px;
        min-height: 385px;
        flex-wrap: wrap;
    }

    .backgrounded {
        flex-basis: 400px;
        padding: 60px 70px;
        box-sizing: border-box;
        max-height: 385px;
    }

    .service .description {
        flex-basis: 735px;
        flex-grow: 1;
    }

    .backgrounded a {
        display: block;
        text-align: center;
    }

    .service > div {
        justify-content: space-between;
    }

    .icon {
        width: 92px;
        height: 92px;
        background-repeat: no-repeat;
    }

    .service.left {
        flex-direction: row;
    }

    .service.right {
        flex-direction: row-reverse;
    }

    .lines {
        list-style: none;
    }

    .items {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 165px;
        margin-top: 53px;
        padding-left: 0;
    }

    li.item {
        margin-bottom: 27px;
        width: 385px;
    }

    li.item > span {
        font-weight: 700;
    }

    .lines .line {
        display: inline-block;
        width: 27px;
        height: 3px;
        vertical-align: middle;
    }

    .numbers {
        list-style: none;
    }

    .numbers .number {
        display: inline-block;
        width: 27px;
        height: 27px;
        line-height: 27px;
        vertical-align: middle;
        text-align: center;
        color: #FFFFFF;
        border-radius: 50%;
    }

    @media screen and (max-width: 1180px){
        .service > div {
            margin: 0 auto;
        }

        .service .backgrounded {
            flex-basis: 100%;
        }

        .items {
            flex-wrap: nowrap;
            height: auto;
        }

    }

    @media screen and (max-width: 768px){
        .service > div {
            padding: 15px;
        }

        .service .description {
            flex-basis: 100%;
        }

        li.item {
            width: auto;
        }
    }
</style>