<template>
    <div>
        <div class="wrapper">
            <div class="content">
                <div>
                    <h1>Поддержка и FAQ</h1>
                    <div class="search-wrapper">
                        <input type="text" @input="filterQuestions" placeholder="Поиск по вопросам">
                    </div>
                </div>
                <div class="flex">
                    <div :class="key" v-for="section, key in $store.state.faq">
                        <div class="section" v-for="block in section">
                            <h3>{{ block.name }}</h3>
                            <div class="questions">
                                <div v-if="!question.hidden" :class="{active: !question.collapsed}" v-for="question in block.questions">
                                    <h4 @click="$store.commit('toggleQuestion', question)"
                                        :class="question.collapsed ? '' : 'active'">{{ question.heading }}</h4>
                                    <div v-if="!question.collapsed" v-html="question.desc"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        methods: {
            filterQuestions(event) {
                this.$store.commit('filterQuestions', event.target.value)
            }
        }
    }
</script>
<style scoped>
    .wrapper {
        padding: 30px 0;
    }

    .search-wrapper {
        display: inline-block;
        float: right;
        margin: 17px 0 0 0;
        position: relative;
    }

    .search-wrapper:before {
        content: '';
        left: 12px;
        top: 13px;
        width: 15px;
        height: 15px;
        background: url('../assets/images/magnifying-glass.svg') no-repeat;
        position: absolute;
    }

    .search-wrapper input[type=text] {
        width: 250px;
        height: 40px;
        background: #FFF;
        padding-left: 30px;
    }

    .left, .right {
        min-height: 820px;
    }

    h1 {
        font-size: 27px;
        display: inline-block;
    }

    h3 {
        margin-top: 0;
        display: block;
        text-align: center;
    }

    .inline-block {
        display: inline-block;
        vertical-align: top;
    }
    
    .flex {
        display: flex;
        justify-content: space-between;
    }

    .flex > div {
        flex-basis: 50%;
    }

    .section {
        background: #FFF;
        padding: 40px 50px;
    }

    .section:not(:first-child) {
        margin-top: 10px;
    }

    .right {
        margin-left: 10px;
    }

    .questions {
        margin-top: 33px;
    }

    .questions > div {
        min-height: 70px;
        border-top: solid 1px #CCC;
        position: relative;
    }

    .questions > div:before {
        content: '';
        position: absolute;
        width: 8px;
        height: 8px;
        border-left: solid 2px #005795;
        border-bottom: solid 2px #005795;
        transform: rotate(-45deg);
        right: 0;
        top: 24px;
        transition: all  ease-in-out .15s
    }

    .questions > div.active:before {
        transform: rotate(135deg);
        top: 27px;
    }

    h4 {
        cursor: pointer;
        user-select: none;
        font-size: 15px;
        margin-bottom: 0;
        margin-top: 14px;
        padding-right: 20px;
    }

    h4 + div {
        font-size: 14px;
        margin-top: 15px;
        line-height: 16px;
        margin-bottom: 5px;
    }

    @media screen and (max-width: 768px) {
        .flex {
            flex-wrap: wrap;
        }

        .flex > div {
            flex-basis: 100%;
        }

        .questions h4 {
            margin: 15px 0;
        }

        .right {
            margin-left: 0;
        }
    }

    @media screen and (max-width: 576px) {
        .search-wrapper {
            display: block;
            float: none;
            width: 100%;
            margin: 15px 0;
        }

        .search-wrapper input[type="text"] {
            width: 100%;
        }

        .section {
            padding: 40px 15px;
        }
    }

</style>