<template>
    <div class="buy-block">
        <div>
            <div class="inline-block vertical-align-top" >
                <div v-if="inStock === true">
                    <div class="stock-icon">
                        {{ inStockText }}
                    </div>
                </div>
                <div v-else>
                    {{ notInStockText }}
                </div>
            </div>
            <div class="inline-block vertical-align-top delivery">{{ delivery }}</div>
            <div class="inline-block vertical-align-top code gray">Код товара: {{ productCode }}</div>
        </div>
        <div class="buy-button-block">
            <div class="price" v-text="price" ></div>
            <button-el  v-on:click.native="modal.showModal = true" v-bind:button-text="buttonText" v-bind:button-class="buttonClass"></button-el>
        </div>
        <modal
                v-if="modal.showModal"
                v-on:submit="modal.showModal = false"
                v-bind:width="modal.width"
                v-bind:height="modal.height"
                v-bind:buttonText="modal.buttonText"
                v-bind:buttonClass="modal.buttonClass"
                v-bind:header="modal.header"
                v-bind:body="modal.body"
                v-bind:footer="modal.footer"
                @close="modal.showModal = false">
        </modal>
    </div>
</template>

<script>
    import ButtonEl from '../elements/ButtonEl.vue'
    import Modal from '../Modal.vue'

    const modalBody = [
        '<p>Пожалуйста введите ваши контактные данные, мы<br/>обязательно с вами свяжемся</p>',
        '<form>',
        '<input type="text" name="request[name]" placeholder="Ваше имя">',
        '<input type="text" name="request[phone]" placeholder="Телефон">',
        '<input type="checkbox" id="privacy-policy" name="request[policy]">',
        '<label for="privacy-policy">Я принимаю все <a>Условия и Соглашения</a></label>',
        '</form>'
    ].join('')

    export default {
        props: ['inStock', 'inStockText', 'notInStockText', 'delivery', 'productCode', 'buyButton', 'price'],
        components: {
            ButtonEl,
            Modal
        },
        data() {
            return {
                buttonText: 'Заказать',
                buttonClass: 'yellow big',
                modal: {
                    showModal: false,
                    width: '685px',
                    height: '565px',
                    header: 'Сделать заказ',
                    body: modalBody,
                    buttonText: 'Отправить заявку',
                    buttonClass: 'big yellow no-float'
                }
            }

        }
    }
</script>

<style scoped>
    @media screen and (max-width: 992px) {
        .buy-block .code {
            display: none;
        }
    }

    @media screen and (max-width: 768px) {
        .content .buy-button-block .price {
            float: none;
            display: block;
            margin: 30px auto;
        }

        .content .buy-button-block a.yellow {
            float: none;
            display: block;
            margin: 0 auto 30px auto;
        }
    }

    .buy-block {
        margin-top: 25px;
        border-top: solid 1px #CCCCCC;
        border-bottom: solid 1px #CCCCCC;
        padding: 18px 0;
    }

    .stock-icon, .delivery {
        position: relative;
        margin-left: 24px;
        width: 142px;
    }

    .delivery {
        margin-left: 38px;
        width: 180px;
    }

    .stock-icon:before, .delivery:before {
        width: 20px;
        height: 20px;
        left: -23px;
        content: '';
        position: absolute;
        display: block;
        background-size: 20px;
        background: url('../../assets/images/done.svg') no-repeat left;
    }

    .delivery:before {
        width: 28px;
        left: -37px;
        top: 0;
        content: '';
        position: absolute;
        display: block;
        background-size: 20px;
        background: url('../../assets/images/delivery.jpg') no-repeat left;
    }

    .buy-button-block {
        margin-top: 24px;
        min-height: 51px;
    }

    .buy-button-block .price {
        font-size: 30px;
        padding-top: 7px;
        margin-right: 25px;
        float: left;
    }

    .buy-button-block > a {
        padding: 14px 65px;
    }
</style>