<template>
    <div class="characteristics">
        <h3>Технические характеристики</h3>
        <div class="flex" ref="items">
            <div v-for="item in items" class="item" v-html="item"></div>
        </div>
        <a href="javascript:void(0)" @click="expandItems" class="blue">Полное описание</a>
    </div>
</template>

<script>
    export default {
        props: ['items'],
        methods: {
            expandItems: function (event) {
                let element = this.$refs['items'];
                element.classList.add('expanded');
                event.target.classList.add('hidden')
            }
        }
    }
</script>

<style scoped>
    h3 {
        font-size: 21px;
        margin-top: 6px;
        display: block;
    }

    a {
        display: block;
        font-size: 14px;
        font-weight: 700;
        margin-top: 12px;
    }

    a.hidden {
        display: none;
    }

    .flex {
        display: flex;
        flex-wrap: wrap;
        max-height: 200px;
        overflow: hidden;
        position: relative;
    }

    .flex:after {
        position: absolute;
        content: '';
        width: 100%;
        height: 100px;
        background-image: linear-gradient(to top, #ffffff, rgba(255,255,255, 0.7), rgba(255,255,255, 0.5), rgba(255,255,255, 0.3), rgba(255,255,255, 0));
        bottom: 0;
    }

    .flex.expanded {
        max-height: none;
    }

    .flex.expanded:after {
        display: none;
    }

    .item {
        flex-basis: 340px;
        flex-grow: 1;
        flex-shrink: 1;
        padding: 13px 20px;
        border: solid 1px #CCC;
    }
</style>