<template>
    <div>
        <h3>Описание</h3>
        <div v-html="text" class="desc" ref="desc"></div>
        <a href="javascript:void(0)" @click="expandItems" class="blue">Полное описание</a>
    </div>
</template>

<script>
    export default {
        props: ['text'],
        methods: {
            expandItems: function (event) {
                let element = this.$refs['desc'];
                element.classList.add('expanded');
                event.target.classList.add('hidden')
            }
        }
    }
</script>

<style scoped>
    h3 {
        font-size: 21px;
        margin-top: 40px;
        margin-bottom: 0;
        display: block;
    }

    a {
        display: block;
        font-size: 14px;
        font-weight: 700;
        margin-top: 12px;
        margin-bottom: 30px;
    }

    a.hidden {
        display: none;
    }

    .desc {
        font-size: 18px;
        max-height: 110px;
        overflow: hidden;
        position: relative;
    }

    .desc.expanded {
        max-height: none;
    }

    .desc.expanded:after {
        display: none;
    }

    .desc:after {
        position: absolute;
        content: '';
        width: 100%;
        height: 100px;
        background-image: linear-gradient(to top, #ffffff, rgba(255,255,255, 0.7), rgba(255,255,255, 0.5), rgba(255,255,255, 0.3), rgba(255,255,255, 0));
        bottom: 0;
        left: 0;
    }
</style>