<template>
    <div>
        <a class="item" v-for="item in items" v-bind:href="item.link">{{ item.name }}</a>
    </div>
</template>
<script>
    export default {
        props: ['items']
    }
</script>
<style scoped>
    div{
        border: solid 1px #CCC;
    }

    div a {
        display: block;
        margin: 10px 10px 0 10px;
        padding: 8px 30px 8px 40px;
        border-radius: 3px;
        line-height: 1;
        position: relative;
    }

    div a:last-child {
        margin: 10px;
    }

    div a:hover {
        background: #CCC;
    }

    div a:before {
        content: '';
        background: url('../../assets/images/pdf.svg') no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
        width: 20px;
        height: 20px;
        display: block;
        position: absolute;
        left: 9px;
        top: 6px;
    }
     div a:after {
         content: '';
         background: url('../../assets/images/download-button.svg') no-repeat;
         -webkit-background-size: contain;
         background-size: contain;
         width: 12px;
         height: 12px;
         display: block;
         position: absolute;
         right: 6px;
         top: 11px;
     }
</style>