<template>
    <div class="excellence">
        <div class="item nowrap" v-for="item in items">
            <div class="icon" v-bind:style="{'background-image' : 'url(\'' + require('../../assets/images/' + item.icon) + '\')' }"></div>
            <div class="name" v-html="item.name"></div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['items']
    }
</script>

<style scoped>
    @media screen and (max-width: 1366px) {
        .excellence .item:nth-child(2n) {
            margin: 0;
        }
    }

    @media screen and (max-width: 768px) {
        .excellence .item {
            text-align: left;
            width: 100%;
        }
    }

    .excellence {
        margin-top: 26px;
    }

    .item {
        width: 300px;
        display: inline-block;
        vertical-align: top;
        user-select: none;
    }

    .item:nth-child(2n) {
        margin-left: 120px;
    }

    .item .icon {
        background-size: 40px;
        background: #3bad3b no-repeat center;
        width: 54px;
        height: 54px;
        margin: 10px 0 20px 0;
        display: inline-block;
        vertical-align: middle;
    }

    .item .name {
        display: inline-block;
        vertical-align: middle;
        white-space: normal;
        margin-left: 10px;
        font-size: 18px;
        line-height: 16px;
        margin-top: -10px;
    }
</style>