<template>
    <div class="for text-center">
        <div class="content">
            <h2>Кому это подходит?</h2>
            <div class="flexbox">
                <div v-for="item in utilizers" class="text-left">
                    <div class="icon"
                         v-bind:style="{'background-image' : 'url(\'' + require('../../assets/images/' + item.icon) + '\')' }"></div>
                    <div class="desc">
                        <h4>{{ item.title }}</h4>
                        <p>{{ item.desc }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped>
    h2 {
        font-size: 28px;
    }

    .desc {
        display: inline-block;
        vertical-align: top;
        width: 275px;
        margin: 0 0 0 26px;

    }

    h4 {
        margin: 0;
        font-size: 23px;
    }

    .flexbox {
        display: flex;
        flex-wrap: wrap;
        margin-top: 63px;
    }

    .flexbox > div {
        flex-basis: 400px;
        flex-shrink: 1;
        flex-grow: 1;
    }

    .for .flexbox > div {
        flex-basis: 300px;
        flex-shrink: 1;
        flex-grow: 1;
    }

    .for .flexbox > div p {
        line-height: 1;
    }

    .for .flexbox > div:not(:nth-last-child(-n+2)) {
        margin-bottom: 26px;
    }

    .flexbox > div:not(:nth-last-child(-n+2)) {
        margin-bottom: 74px;
    }

    .flexbox > div:nth-child(2n) {
        margin-left: 150px;
    }

    .icon {
        display: inline-block;
        vertical-align: top;
        width: 110px;
        height: 110px;
        background: no-repeat center;
        background-size: cover;
    }

    .for .icon {
        display: inline-block;
        vertical-align: top;
        width: 88px;
        height: 88px;
        background: no-repeat center;
        background-size: cover;
    }

    .for .desc {
        width: 235px;
        margin-left: 19px;
    }

    .try-now {
        margin-top: 60px;
        padding: 38px 0 72px 0;
        background: #005995;
    }

    .try-now a {
        padding: 15px 65px;
    }

    .try-now h2 {
        font-size: 23px;
        font-weight: 900;
        color: #FFF;
        margin-bottom: 42px;
    }

    .for {
        padding: 53px 0 66px 0;
        background: #FFFFFF;
    }

    .for h2 {
        font-size: 28px;
        font-weight: 900;
        color: #000;
        margin-bottom: 84px;
        margin-top: 0;
    }

    @media screen and (max-width: 1366px) {
        .for {
            padding: 50px 0;
        }

        .for .flexbox {
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .for .flexbox > div {
            flex-basis: auto;
        }

    }

    @media screen and (max-width: 992px) {
        .for .flexbox > div:nth-child(2n) {
            margin-left: 0;
        }
    }

    @media screen and (max-width: 768px) {
        .for .flexbox > div .icon {
            display: block;
            margin: 15px auto;
        }

        .for .flexbox > div {
            text-align: center;
        }

        .for .flexbox > div .desc {
            margin-left: 0;
        }
    }
</style>

<script>
    export default {
        data() {
            return {
                utilizers: [
                    {
                        icon: 'Group 3072.svg',
                        title: 'Промылшленным предприятиям',
                        desc: 'Контролирующим потребление электроэнергии по цехам, зданиям, складам'
                    },
                    {
                        icon: 'Group 3073.svg',
                        title: 'ЖКХ, УК, ТСЖ и прочее',
                        desc: 'Для учета в садовых товриществах, коттеджных поселках, УК, ТСЖ, гражных и других кооперативах'
                    },
                    {
                        icon: 'Group 3074.svg',
                        title: 'Предприятиям с субабанентами',
                        desc: 'Для учета электроэнергии в торговых центрах, офисных зданиях и т.п.'
                    },
                    {
                        icon: 'Group 3074.svg',
                        title: 'Небольшим оргнизациям',
                        desc: 'Для которых установка локальных серверов АСКУЭ не выгодно из за высокой'
                    },
                ]
            }
        }
    }
</script>