<template>
    <div>
        <div class="label nowrap" v-for="(item, index) in items" ref="tips">
            <div v-on:mouseover="showTip"
                 v-on:mouseleave="hideTip"
                 v-bind:data-show-tip="index"
                 class="icon"
                 v-bind:style="{'background-image' : 'url(\'' + require('../../assets/images/' + item.icon) + '\')' }">
            </div>
            <div class="tip hidden" :ref="index">{{ item.tip }}</div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['items'],
        methods: {
            showTip: function (event) {
                let $this = event.target;
                let $tip = this.$refs[$this.dataset.showTip];
                $tip[0].classList.remove('hidden')
            },
            hideTip: function (event) {
                let $this = event.target;
                let $tip = this.$refs[$this.dataset.showTip];
                $tip[0].classList.add('hidden')
            }
        }
    }
</script>

<style scoped>
    div:not([class]) {
        display: flex;
        flex-wrap: nowrap;
        margin-top: 14px;
        height: 60px;
        position: relative;
    }

    .label {
        background: #DDD;
        flex-grow: 1;
        flex-shrink: 1;
        cursor: pointer;
    }

    .icon {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 60px;
    }

    .label:not(:first-child) {
        margin-left: 5px;
    }

    .tip {
        position: absolute;
        top: 66px;
        left: 0;
        background: #fdf8e5;
        padding: 18px;
        border: solid 1px #fedb4d;
        width: 100%;
        white-space: normal;
        z-index: 1;
    }

    .label:hover:after {
        content: '';
        width: 5px;
        height: 5px;
        border-bottom: solid 1px #fedb4d;
        border-left: solid 1px #fedb4d;
        background: #fedb4d;
        transform: rotate(135deg);
        display: block;
        position: absolute;
        top: 63px;
        margin-left: 7%;
        z-index: 0;
    }
</style>