<template>
    <div class="wrapper-most">
        <div class="content">
            <h2>{{ propsHeading ? propsHeading : 'Популярные продукты' }}</h2>
            <div class="products">
                <div class="product text-center" v-for="(product, index) in products">
                    <div class="label" v-bind:style="{'background-image' :  product.label ? 'url(\'' + require('../../assets/images/' + product.label) + '\')' : '' }"></div>
                    <router-link :to="'/products/'+ product.category  + '/'+ index" class="model gray">{{ product.name }}</router-link>
                    <router-link :to="'/products/'+ product.category  + '/'+ index" class="name">{{ product.short }}</router-link>
                    <advantage-el :text="product.advantageShort" type="small"></advantage-el>
                    <div v-bind:class="product.oldPrice ? 'crossed price orange' : 'price'">
                        <div class="old-price gray" v-if="product.oldPrice">{{ product.oldPrice + ' ' + product.currency }}</div>
                        {{ product.price + ' ' + product.currency }}
                    </div>
                    <div class="delivery green">{{ product.delivery }}</div>
                    <div class="image">
                        <img v-bind:src="require('../../assets/images/' + product.imageUrl)" alt="">
                    </div>
                    <div class="warranty">{{ product.warranty }}</div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import AdvantageEl from '../elements/Advantage.vue'
    export default {
        components: {
            AdvantageEl
        },
        props: ['propsHeading'],
        data() {
            return {
                products: []
            };
        },
        computed: {
            getMostPopular () {
                this.products = this.$store.getters.getPopularProducts
            }
        },
        mounted: function () {
            this.getMostPopular;
        },
    }
</script>

<style scoped>
    .wrapper-most {
        background: #f0f0f0;
        padding: 30px 0;
    }

    h2 {
        font-size: 27px;
        font-weight: 900;
        margin-bottom: 40px;
    }

    .products {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .product {
        display: inline-block;
        vertical-align: top;
        flex-basis: 284px;
        min-height: 520px;
        background: #FFF;
        padding: 50px 16px 0 16px;
        position: relative;
        margin-bottom: 15px;
    }

    .product .model {
        font-weight: 300;
        position: relative;
    }

    .old-price {
        text-decoration: line-through;
        position: absolute;
        left: 0;
        top: 2px;
        font-weight: 500;
        font-size: 16px;
    }

    .crossed {
        position: relative;
    }

    .label {
        position: absolute;
        top: 0;
        left: 0;
        width: 66px;
        height: 66px;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .product .name {
        font-weight: 700;
        margin-top: 10px;
        font-size: 16px;
        display: block;
    }

    .product .price {
        margin-top: 26px;
        font-size: 19px;
        font-weight: 700;
    }

    .product .image {
        margin-top: 13px;
        height: 180px;
    }

    .product .image img {
        width: auto;
        height: 100%;
    }

    .warranty {
        position: relative;
        color: #0671bc;
        font-size: 14px;
        font-weight: 700;
        margin-top: 58px;
    }

    .warranty:before {
        background: url('../../assets/images/guarantee.svg') no-repeat center;
        content: '';
        display: block;
        width: 25px;
        position: absolute;
        height: 25px;
        left: 49px;
        top: -5px;
    }

    @media screen and (max-width: 576px) {
        h2 {
            text-align: center;
        }
        
        .product {
            flex-basis: auto;
            flex-grow: 1;
        }
    }
</style>