<template>
    <div>
        <div class="text-center wrapper">
            <div class="content">
                <h2>{{ title }}</h2>
                <div class="flexbox">
                    <div v-for="item in items" class="text-left">
                        <div class="icon" v-bind:style="{'background-image' : 'url(\'' + require('../../assets/images/' + item.icon) + '\')' }"></div>
                        <div class="desc">
                            <h4>{{ item.title }}</h4>
                            <p>{{ item.desc }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="try-now text-center">
            <h2>Закажите счетчик прямо сейчас и получите<br />бесплатную доставку</h2>
            <button-el button-text="Заказать" button-class="yellow big no-float"></button-el>
        </div>
        <for-who></for-who>
    </div>
</template>

<style scoped>
    .wrapper {
        padding: 50px 92px 0 92px;
        background: #f0f0f0;
    }

    @media screen and (max-width: 1366px) {
        .wrapper {
            padding: 50px 0 0 0;
            text-align: center;
        }

        .content .flexbox > div:nth-child(2n) {

        }

        .content .flexbox > div {
            margin: 30px auto !important;
        }

        .content .flexbox > div .icon {
            display: block;
            width: 110px;
            margin: 0 auto;
        }

        .content .flexbox > div .desc {
            margin: 30px auto;
            text-align: center;
            width: 275px;
            display: block;
        }
    }

    @media screen and (max-width: 768px) {

    }

    h2 {
        font-size: 28px;
    }

    .desc {
        display: inline-block;
        vertical-align: top;
        width: 275px;
        margin: 0 0 0 26px;

    }

    h4 {
        margin: 0;
        font-size: 23px;
    }

    .flexbox {
        display: flex;
        flex-wrap: wrap;
        margin-top: 63px;
    }

    .flexbox > div {
        flex-basis: 400px;
        flex-shrink: 1;
        flex-grow: 1;
    }

    .for .flexbox > div {
        flex-basis: 300px;
        flex-shrink: 1;
        flex-grow: 1;
    }

    .for .flexbox > div p {
        line-height: 1;
    }

    .for .flexbox > div:not(:nth-last-child(-n+2)) {
        margin-bottom: 26px;
    }

    .flexbox > div:not(:nth-last-child(-n+2)) {
        margin-bottom: 74px;
    }

    .flexbox > div:nth-child(2n) {
        margin-left: 150px;
    }

    .icon {
        display: inline-block;
        vertical-align: top;
        width: 110px;
        height: 110px;
        background: no-repeat center;
        background-size: cover;
    }

    .for .icon {
        display: inline-block;
        vertical-align: top;
        width: 88px;
        height: 88px;
        background: no-repeat center;
        background-size: cover;
    }

    .for .desc {
        width: 235px;
        margin-left: 19px;
    }

    .try-now {
        padding: 38px 0 72px 0;
        background: #005995;
    }

    .try-now a {
        padding: 15px 65px;
    }

    .try-now h2 {
        font-size: 23px;
        font-weight: 900;
        color: #FFF;
        margin-bottom: 42px;
    }

    .for {
        padding: 53px 0 66px 0;
        background: #FFFFFF;
    }

    .for h2 {
        font-size: 28px;
        font-weight: 900;
        color: #000;
        margin-bottom: 84px;
        margin-top: 0;
    }
</style>

<script>
    import ForWho from './ForWho.vue'
    import ButtonEl from '../elements/ButtonEl.vue'

    export default {
        data() {
            return {
                title: 'Возможности и приемущества',
                items: [
                    {
                        icon: 'sqdots.svg',
                        title: 'Передача показаний три раза в сутки',
                        desc: 'Счетчик электронный крыльчатый применяется для учета расхода холодной и горячей воды с накоплением и передачей этих'
                    },
                    {
                        icon: 'magnetto.svg',
                        title: 'Не реагирует на магниты',
                        desc: 'Счетчик электронный крыльчатый применяется для учета расхода холодной и горячей воды с накоплением и передачей этих'
                    },
                    {
                        icon: 'hatman.svg',
                        title: 'Вандалоустойчивые приборы',
                        desc: 'Счетчик электронный крыльчатый применяется для учета расхода холодной и горячей воды с накоплением и передачей этих'
                    },
                    {
                        icon: 'battery.svg',
                        title: 'Питания хватает на 6 лет +гарантия',
                        desc: 'Счетчик электронный крыльчатый применяется для учета расхода холодной и горячей воды с накоплением и передачей этих'
                    },
                    {
                        icon: 'holes.svg',
                        title: 'Разные диаметры отверстий',
                        desc: 'Счетчик электронный крыльчатый применяется для учета расхода холодной и горячей воды с накоплением и передачей этих'
                    },
                    {
                        icon: 'uniplatform.svg',
                        title: 'Универсальная система мониторинга',
                        desc: 'Счетчик электронный крыльчатый применяется для учета расхода холодной и горячей воды с накоплением и передачей этих'
                    },
                ]
            }
        },
        components: {
            ButtonEl,
            ForWho
        }
    }
</script>