<template>
    <div>
        <div class="wrapper"
             v-if="typeof $store.state.products[$route.params.category][$route.params.id] !== 'undefined'">
            <div class="content">
                <div class="left inline-block vertical-align-top">
                    <div class="image">
                        <img v-bind:src="require('../../assets/images/' + $store.state.products[$route.params.category][$route.params.id].imageUrl)"
                             alt="">
                    </div>
                    <div class="description">
                        <h2>Загрузки и сертификаты</h2>
                        <download-block
                                :items="$store.state.products[$route.params.category][$route.params.id].downloads"></download-block>
                        <labels-block
                                :items="$store.state.products[$route.params.category][$route.params.id].labels"></labels-block>
                    </div>
                </div>
                <div class="right inline-block vertical-align-top">
                    <h1 class="inline-block vertical-align-top"
                        v-html="$store.state.products[$route.params.category][$route.params.id].heading"></h1>
                    <div class="nowrap">
                        <advantage-el type="inside"
                                      v-bind:text="$store.state.products[$route.params.category][$route.params.id].advantage"></advantage-el>
                        <div class="inline-block vertical-align-middle text-small green"
                             v-html="$store.state.products[$route.params.category][$route.params.id].advantageSecondary"></div>
                    </div>
                    <buy-block
                            v-bind:inStock="true"
                            v-bind:inStockText="$store.state.products[$route.params.category][$route.params.id].inStockText"
                            v-bind:notInStockText="$store.state.products[$route.params.category][$route.params.id].notInStockText"
                            v-bind:delivery="$store.state.products[$route.params.category][$route.params.id].delivery"
                            v-bind:productCode="$store.state.products[$route.params.category][$route.params.id].productCode"
                            v-bind:buyButton="$store.state.products[$route.params.category][$route.params.id].buyButton"
                            v-bind:price="getPrice()">
                    </buy-block>
                    <excellence-block
                            :items="$store.state.products[$route.params.category][$route.params.id].excellence"></excellence-block>
                    <characteristics-block
                            :items="$store.state.products[$route.params.category][$route.params.id].characteristics"></characteristics-block>
                    <description-block
                            :text="$store.state.products[$route.params.category][$route.params.id].description"></description-block>
                </div>
            </div>
            <opportunities-block></opportunities-block>
            <request-form></request-form>
            <most-popular></most-popular>
        </div>
    </div>
</template>
<script>
    import AdvantageEl from '../elements/Advantage.vue'
    import ButtonEl from '../elements/ButtonEl.vue';
    import DownloadBlock from './DownloadBlock.vue';
    import BuyBlock from './BuyBlock.vue';
    import ExcellenceBlock from './ExcellenceBlock.vue';
    import CharacteristicsBlock from './CharacteristicsBlock.vue';
    import DescriptionBlock from './DescriptionBlock.vue';
    import LabelsBlock from './LabelsBlock.vue';
    import RequestForm from '../main/RequestForm.vue';
    import OpportunitiesBlock from './OpportunitiesBlock.vue';
    import MostPopular from './MostPopular.vue';

    export default {
        components: {
            AdvantageEl,
            ButtonEl,
            DownloadBlock,
            BuyBlock,
            ExcellenceBlock,
            CharacteristicsBlock,
            DescriptionBlock,
            LabelsBlock,
            RequestForm,
            OpportunitiesBlock,
            MostPopular
        },
        methods: {
            getPrice: function () {
                return this.$store.state.products[this.$route.params.category][this.$route.params.id].price + ' ' + this.$store.state.products[this.$route.params.category][this.$route.params.id].currency;
            }
        },
    }
</script>

<style scoped>
    @media screen and (max-width: 1366px) {
        .right .inside + div {
            display: none;
        }
    }

    @media screen and (max-width: 992px) {
        .wrapper .content {
            display: flex;
        }

        .wrapper .content .left {
            flex-grow: 1;
            width: auto;
        }
    }

    @media screen and (max-width: 768px) {
        .wrapper .content {
            flex-wrap: wrap;
        }

        .wrapper .content .left,
        .wrapper .content .right {
            width: 100%;
            margin-left: 0;
            padding-left: 0;
            text-align: center;
        }

        .wrapper .content .left .description {
            display: none;
        }
    }

    img {
        max-width: 100%;
    }

    .wrapper {
        padding: 30px 0;
        background: #FFFFFF;
    }

    .left {
        width: 32%;
    }

    .left .image {
        padding: 62px 18px;
        border: solid 1px #CCC;
        text-align: center;
    }

    .left span {
        margin-left: 18px;
    }

    .right {
        width: 67%;
        padding: 0 0 0 63px;
    }

    .right > .nowrap > div:not(:first-child) {
        margin-left: 10px;
    }

    h1 {
        font-size: 30px;
        margin-top: 18px;
        margin-bottom: 13px;
        line-height: 36px;
    }
</style>