<template>
    <div>
        <div class="white-background">
            <router-link :to="'/cases/'" class="all-cases-link">Все кейсы</router-link>
            <div class="case-wrapper">
                <div class="content">
                    <div class="left border-right">
                        <div class="image" v-bind:style="{'background-image' : 'url(\'' + require('../../assets/images/' + currentCase.image) + '\')' }">
                            <h1>{{ currentCase.heading }}</h1>
                        </div>
                    </div>
                    <div class="right">
                        <h3>О проекте</h3>
                        <div class="about">
                            <div class="key gray">Заказчик</div>
                            <div class="value">{{ currentCase.customer }}</div>
                        </div>
                        <div class="about">
                            <div class="key gray">Город</div>
                            <div class="value">{{ currentCase.city }}</div>
                        </div>
                        <div class="about">
                            <div class="key gray">Год</div>
                            <div class="value">{{ currentCase.year }}</div>
                        </div>
                    </div>
                    <div class="left">
                        <div class="task">
                            <h4>Описание задачи</h4>
                            <p>{{ currentCase.task }}</p>
                        </div>
                        <div class="solution">
                            <h4>Предложенное решение</h4>
                            <p>{{ currentCase.solution }}</p>
                            <div class="flex">
                                <div v-for="image in currentCase.photos" class="solution-image">
                                    <img :src="require('../../assets/images/' + image)" alt="">
                                </div>
                            </div>
                            <p>{{ currentCase.solutionNext }}</p>
                        </div>
                        <div class="total">
                            <h4>Итог работы</h4>
                            <p>{{ currentCase.result }}</p>
                            <div class="flex">
                                <div class="item">
                                    <div class="item-number">130</div>
                                    <div class="item-text">Водосчетчиков<br/>установлено</div>
                                </div>
                                <div class="item">
                                    <div class="item-number">107</div>
                                    <div class="item-text">Электросчетчиков<br/>установлено</div>
                                </div>
                                <div class="item">
                                    <div class="item-number">45%</div>
                                    <div class="item-text">Расчетная экономия<br/>в год</div>
                                </div>
                            </div>
                        </div>
                        <div class="offer">
                            <h4>Хотите начать экономить до 50% на ОДПУ прямо сейчас?</h4>
                            <p>
                                Закажите счетчик прямо сейчас и получите<br/>
                                бесплатный расчет стоимости на ваш объект
                            </p>
                            <button-el v-on:click.native="modal.showModal = true" button-text="Бесплатный расчет стоимости" button-class="yellow big no-float"></button-el>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <most-popular v-bind:propsHeading="'Используемые продукты'"></most-popular>
        <request-form></request-form>
        <modal
                v-if="modal.showModal"
                v-on:submit="modal.showModal = false; requestDone.showModal = true"
                v-bind:width="modal.width"
                v-bind:height="modal.height"
                v-bind:buttonText="modal.buttonText"
                v-bind:buttonClass="modal.buttonClass"
                v-bind:header="modal.header"
                v-bind:body="modal.body"
                v-bind:footer="modal.footer"
                @close="modal.showModal = false">
        </modal>
        <modal
                v-if="requestDone.showModal"
                v-on:submit="requestDone.showModal = false"
                v-bind:width="requestDone.width"
                v-bind:height="requestDone.height"
                v-bind:buttonText="requestDone.buttonText"
                v-bind:buttonClass="requestDone.buttonClass"
                v-bind:header="requestDone.header"
                v-bind:body="requestDone.body"
                v-bind:footer="requestDone.footer"
                @close="requestDone.showModal = false">
        </modal>
    </div>
</template>

<script>
    import ButtonEl from '../elements/ButtonEl.vue'
    import MostPopular from '../product/MostPopular.vue'
    import RequestForm from '../main/RequestForm.vue'
    import Modal from  '../Modal.vue'

    const modalBody = [
        '<p>Введите свой номер телефона и получите ответы<br />c вами свяжется специалист для консультации</p>',
        '<form>',
        '<input type="text" name="request[phone]" placeholder="Телефон">',
        '<input type="checkbox" id="privacy-policy" name="request[policy]">',
        '</form>'
    ].join('')

    const requestDone = [
        '<p>Введите свой номер телефона и получите ответы<br />c вами свяжется специалист для консультации</p>'
    ].join('')

    export default {
        components: {
            ButtonEl,
            MostPopular,
            RequestForm,
            Modal
        },
        data() {
            return {
                currentCase: {},
                modal: {
                    showModal: false,
                    width: '685px',
                    height: '565px',
                    header: 'Получите консультацию<br />прямо сейчас',
                    body: modalBody,
                    buttonText: 'Отправить заявку',
                    buttonClass: 'big yellow no-float'
                },
                requestDone: {
                    showModal: false,
                    width: '685px',
                    height: '380px',
                    header: '<span class="green">Мы получили вашу заявку</span>',
                    body: requestDone,
                    buttonText: 'Понятно',
                    buttonClass: 'big white no-float'
                }
            }
        },
        mounted() {
            this.currentCase = this.$store.getters.getCaseById(parseInt(this.$route.params.id))
        }
    }
</script>

<style scoped>
    h4 {
        font-size: 27px;
        font-weight: 900;
        margin-bottom: 16px;
    }

    .flex {
        display: flex;
        justify-content: space-between;
    }

    .white-background {
        background: #FFFFFF;
        padding-top: 20px;
    }

    .case-wrapper .content {
        display: flex;
        flex-wrap: wrap;
    }

    .all-cases-link {
        color: #13639c;
        font-weight: 900;
        margin: 0 92px 10px 92px;
        display: block;
    }

    .border-right {
        border-right: solid 1px #CCC;
    }

    .case-wrapper .left {
        flex-basis: 895px;
        padding-right: 36px;
    }

    .case-wrapper .right {
        flex-basis: 285px;
        padding: 6px 40px;
    }

    .case-wrapper .right h3 {
        font-size: 23px;
        font-weight: 900;
    }

    .about {
        margin-top: 26px;
    }

    .about .key {
        font-size: 13px;
    }

    .about .value {
        margin-top: 4px;
    }

    .case-wrapper .image {
        height: 426px;
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: 5px;
        position: relative;
    }

    .case-wrapper .image  h1 {
        position: absolute;
        color: #FFFFFF;
        bottom: 10px;
        left: 45px;
        font-size: 30px;
        width: 450px;
    }

    .task p {
        font-weight: 700;
        font-size: 17px;
    }

    .solution h4 {
        margin-top: 48px;
    }

    .solution p {
        font-size: 17px;
        font-weight: 700;
        margin-bottom: 40px;
    }

    .solution .flex + p {
        margin-top: 45px;
    }

    .total p {
        font-weight: 700;
        font-size: 17px;
    }

    .item > div {
        display: inline-block;
        vertical-align: middle;
    }

    .total .flex {
        margin-top: 43px;
    }

    .total .flex .item-number {
        font-weight: 900;
        font-size: 48px;
        color: #005895;
    }

    .total .flex .item-text {
        font-size: 17px;
        margin-left: 12px;
        font-weight: 700;
    }

    .offer {
        margin-bottom: 65px;
    }

    .offer h4 {
        font-size: 25px;
        margin-top: 53px;
        margin-bottom: 10px;
    }

    .offer p {
        font-size: 18px;
        margin-top: 0;
    }

    .offer a {
        margin-top: 6px;
        display: inline-block;
        padding: 14px 23px;
    }

    @media screen and (max-width: 1366px) {
        .case-wrapper .left {
            flex-basis: 100%;
            padding: 0;
            border-right: none;
        }

        .case-wrapper .right {
            flex-basis: 100%;
            padding: 6px 0;
            text-align: center;
        }

        .all-cases-link {
            margin: 0 15px 10px 15px;
        }
    }

    @media screen and (max-width: 768px) {
        .case-wrapper .image h1 {
            width: auto;
        }

        .task, .solution, .offer, .total {
            text-align: center;
        }

        .solution > .flex {
            flex-wrap: wrap;
            margin: 0 auto;
        }

        .solution .solution-image {
            flex-basis: 100%;
        }

        .total .flex .item-text {
            margin-left: 0;
            display: block;
        }

        .total .flex .item-number {
            display: block;
        }

        .total .flex {
            flex-wrap: wrap;
        }

        .total .flex .item {
            flex: 1 0 100%;
            margin-top: 15px;
        }
    }
</style>