<template>
    <span v-bind:class="type ? type : ''">{{ text }}</span>
</template>
<script>
    export default {
        props: ['text', 'type']
    }
</script>
<style scoped>
    .inside {
        padding: 6px 47px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        max-width: 100%;
        vertical-align: middle;
    }

    span {
        display: inline-block;
        background: #ea491a;
        border-radius: 3px;
        color: #FFF;
        font-size: 14px;
        font-weight: 700;
        padding: 6px 28px;
        position: relative;
    }

    .small {
        font-size: 13px;
        white-space: nowrap;
        max-width: 100%;
        font-weight: 500;
        padding: 6px;
        margin-top: 10px;
    }

    .small:before,
    .small:after {
        content: '';
        width: 11px;
        height: 20px;
        top: 4px;
        position: absolute;
        background-size: 11px;
    }

    .small:before {
        left: -15px;
    }

    .small:after {
        right: -15px;
    }


    span:before,
    span:after {
        content: '';
        width: 15px;
        height: 25px;
        top: 2px;
        position: absolute;
    }

    span:before {
        left: -23px;
        background: url('../../assets/images/wrls-right.svg') center no-repeat;
    }

    span.inside:before {
        background: url('../../assets/images/wrls-right-white.svg') center no-repeat;
        background-size: contain;
        left: 11px;
        width: 11px;
    }

    span.inside:after {
        background: url('../../assets/images/wrls-left-white.svg') center no-repeat;
        background-size: contain;
        right: 11px;
        width: 11px;
    }

    span:after {
        right: -23px;
        background: url('../../assets/images/wrls-left.svg') center no-repeat;
    }
</style>