<template>
    <div>
        <a href="javascript:void(0)" @click="$emit('forget')" class="left-float gray">Забыли пароль</a>
        <a href="javascript:void(0)" @click="$emit('register')" class="right-float gray">Регистрация</a>
    </div>
</template>