<template>
    <div>
        <ul>
            <li v-for="item in items">
                <router-link :to="item.path">{{ item.name }}</router-link>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        props: ['items'],
        data() {
            return {

            }
        }
    }
</script>

<style scoped>
    div {
        background: #FFF;
        display: block;
        position: absolute;
        width: 100%;
        max-width: 1366px;
        height: 52px;
        top: 80px;
        text-align: center;
        overflow: auto;
    }

    ul {
        list-style: none;
        white-space: nowrap;
    }

    li {
        display: inline-block;
        font-size: 16px;
        font-weight: 700;
    }

    a {
        position: relative;
    }

    li a.router-link-active:after {
        content: '';
        top: 32px;
        left: 0;
        width: 100%;
        height: 4px;
        background: #fdd94d;
        display: block;
        position: absolute;
    }

    li:not(:first-child) {
        margin-left: 30px;
    }
</style>