<template>
    <div class="wrapper">
        <div class="icon" v-bind:style="{ backgroundImage: 'url(' + icon + ')' }"></div>
        <h3>{{ title }}</h3>
        <advantage-el v-bind:text="advantage"></advantage-el>
        <p>{{ desc }}</p>
        <button-el button-class="yellow" v-bind:path="path" v-bind:button-text="buttonText"></button-el>
        <div class="image">
            <img v-bind:src="require('../../assets/images/' + image)" />
        </div>
    </div>
</template>
<script>
    import buttonEl from '../elements/ButtonEl.vue'
    import AdvantageEl from '../elements/Advantage.vue'
    export default {
        props: ['icon', 'title', 'advantage', 'desc', 'button-text', 'image', 'path'],
        components: {
            buttonEl,
            AdvantageEl
        },
        methods: {}
    }
</script>

<style scoped>
    div.wrapper {
        background: #FFFFFF;
        margin-top: 14px;
        padding: 32px 40px 0 40px;
        min-height: 600px;
    }

    h3 {
        font-weight: 900;
        font-size: 27px;
        margin-bottom: 8px;
    }

    p {
        font-size: 18px;
        margin-top: 30px;
        margin-bottom: 30px;
        font-weight: 700;
    }

    a {
        display: inline-block;
        float: none!important; /** TODO: what can i do with this fucking important? */
    }

    .image {
        margin-top: 45px;
    }

    .icon {
        height: 28px;
        background-position: center;
        background-repeat: no-repeat;
    }

    @media screen and (max-width: 576px) {
        div.image img {
            max-width: 100%;
        }
    }
</style>