<template>
    <div class="about text-center">
        <div class="content">
            <h2>{{ heading }}</h2>
            <p v-html="desc"></p>
            <div class="text-left">
                <div class="left inline-block vertical-align-top">
                    <img src="../../assets/images/certificate.png" alt="">
                </div>
                <div class="right inline-block vertical-align-top">
                    <div class="border-bottom" >
                        <div class="item" v-for="benefit in benefits">
                            <div class="number yellow">{{ benefit.number }}</div>
                            <h3>{{ benefit.heading }}</h3>
                            <span>{{ benefit.description }}</span>
                        </div>
                    </div>
                    <div class="partners">
                        <h4>{{ partners }}</h4>
                        <div>
                            <img v-for="img in partnerImgs" v-bind:src="require('../../assets/images/' + img.src)" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                heading: 'О нас',
                desc: 'Специализация компании ООО "Сибирь Телематика" автоматизация учета и снижение<br />затрат на электроэнергию в жилых помещениях и предприятиях России и СНГ',
                benefits: [
                    {number: '3000+', heading: 'Приборов учета', description: 'установлено клиентам'},
                    {number: '10 млн', heading: 'Рублей', description: 'сэкономлено клиентам'},
                    {number: '40', heading: 'Клиентов', description: 'в 10 городах России'},
                    {number: '3', heading: 'Года', description: 'опыта работы в сфере'}
                ],
                partners: 'Технологические партнеры',
                partnerImgs: [
                    {src: 'partner3.png'},
                    {src: 'partner2.png'},
                    {src: 'partner1.png'}
                ]
            }
        }
    }
</script>

<style scoped>
    div.about {
        padding: 58px 0 100px 0;
        background: #FFF;
    }

    h2 {
        font-size: 27px;
        font-weight: 900;
        margin-bottom: 36px;
    }

    p {
        font-size: 17px;
        font-weight: 700
    }

    div.left,
    div.right {
    }

    div.left {
        width: 33%;
        min-height: 40px;
        margin-top: 56px;
    }

    div.right {
        width: 66%;
        min-height: 40px;
        margin-top: 42px;

    }

    div.right > div {
        margin-left: 70px;
        max-width: 584px;
    }

    .border-bottom {
        border-bottom: solid 1px #CCC;
    }

    div.item {
        display: inline-block;
        vertical-align: top;
        width: 292px;
        height: 147px;
    }

    div.item .number {
        font-weight: 900;
        font-size: 53px;
        color: #fdd94d;
    }

    div.item h3 {
        margin-top: 10px;
        margin-bottom: 0;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 18px;
    }

    div.item span {
        font-weight: 700;
        font-size: 17px;
    }

    div.partners h4 {
        font-size: 17px;
        font-weight: 700;
        margin-bottom: 10px;
        color: #9a9a9a;
    }

    div.partners img:not(:first-child) {
        margin-left: 25px;
    }

    div.partners > div img {
        vertical-align: middle;
    }

    @media screen and (max-width: 992px) {
        div.left {
            width: 100%;
            text-align: center;
        }

        div.right {
            width: 100%;
            margin: 0;
        }

        div.right > div {
            margin: 0 auto;
            text-align: center;
        }

        div.partners > div img {
            margin: 30px 0;
        }
    }
</style>