<template>
    <div class="banner">
        <div class="background content">
            <div class="fullwidth">
                <button-el v-on:click.native="modalLogin.showModal = true" v-bind:button-text="button1Text" v-bind:button-class="button1Class"></button-el>
            </div>
            <div class="jumbo">
                <div class="left">
                    <h2 v-html="heading"></h2>
                    <p>{{ description }}</p>
                    <button-el  v-on:click.native="modal.showModal = true" v-bind:button-text="button2Text" v-bind:button-class="button2Class"></button-el>
                </div>
                <div class="right">
                    <div class="links">
                        <a v-for="link in links" class="link-item" v-bind:href="link.path">
                            <a v-bind:href="link.path" v-html="link.name"></a>
                        </a>
                    </div>
                </div>
            </div>
            <a href="javascript:void(0)" class="next"></a>
        </div>
        <modal
                v-if="modal.showModal"
                v-on:submit="modal.showModal = false; requestDone.showModal = true"
                v-bind:width="modal.width"
                v-bind:height="modal.height"
                v-bind:buttonText="modal.buttonText"
                v-bind:buttonClass="modal.buttonClass"
                v-bind:header="modal.header"
                v-bind:body="modal.body"
                v-bind:footer="modal.footer"
                @close="modal.showModal = false">
        </modal>
        <modal
                v-if="requestDone.showModal"
                v-on:submit="requestDone.showModal = false"
                v-bind:width="requestDone.width"
                v-bind:height="requestDone.height"
                v-bind:buttonText="requestDone.buttonText"
                v-bind:buttonClass="requestDone.buttonClass"
                v-bind:header="requestDone.header"
                v-bind:body="requestDone.body"
                v-bind:footer="requestDone.footer"
                @close="requestDone.showModal = false">
        </modal>
        <modal
                v-if="modalLogin.showModal"
                v-on:submit="modalLogin.showModal = false"
                v-on:register="modalLogin.showModal = false; registerModal.showModal = true"
                v-on:forget="modalLogin.showModal = false; forgetModal.showModal = true"
                v-bind:width="modalLogin.width"
                v-bind:height="modalLogin.height"
                v-bind:buttonText="modalLogin.buttonText"
                v-bind:buttonClass="modalLogin.buttonClass"
                v-bind:header="modalLogin.header"
                v-bind:body="modalLogin.body"
                v-bind:loginFooter="true"
                @close="modalLogin.showModal = false">
        </modal>
        <modal
                v-if="registerModal.showModal"
                v-on:submit="registerModal.showModal = false"
                v-on:tologin="registerModal.showModal = false; modalLogin.showModal = true"
                v-bind:width="registerModal.width"
                v-bind:height="registerModal.height"
                v-bind:buttonText="registerModal.buttonText"
                v-bind:buttonClass="registerModal.buttonClass"
                v-bind:header="registerModal.header"
                v-bind:body="registerModal.body"
                v-bind:registerFooter="registerModal.registerFooter"
                @close="registerModal.showModal = false">
        </modal>
        <modal
                v-if="forgetModal.showModal"
                v-on:submit="forgetModal.showModal = false; forgetSuccess.showModal = true"
                v-bind:width="forgetModal.width"
                v-bind:height="forgetModal.height"
                v-bind:buttonText="forgetModal.buttonText"
                v-bind:buttonClass="forgetModal.buttonClass"
                v-bind:header="forgetModal.header"
                v-bind:body="forgetModal.body"
                @close="forgetModal.showModal = false">
        </modal>
        <modal
                v-if="forgetSuccess.showModal"
                v-on:submit="forgetSuccess.showModal = false"
                v-bind:width="forgetSuccess.width"
                v-bind:height="forgetSuccess.height"
                v-bind:buttonText="forgetSuccess.buttonText"
                v-bind:buttonClass="forgetSuccess.buttonClass"
                v-bind:header="forgetSuccess.header"
                v-bind:body="forgetSuccess.body"
                @close="forgetSuccess.showModal = false">
        </modal>
    </div>
</template>

<script>
    import ButtonEl from '../elements/ButtonEl.vue'
    import Modal from '../Modal.vue'
    import LoginModalFooter from '../elements/LoginModalFooter.vue'

    const modalLogin = [
        '<form>',
        '<input type="text" name="request[email]" placeholder="Email">',
        '<input type="password" name="request[email]" placeholder="Пароль">',
        '<input type="checkbox" id="privacy-policy" name="request[policy]">',
        '</form>'
    ].join('')

    const modalBody = [
        '<p>Введите свой номер телефона и получите ответы<br />c вами свяжется специалист для консультации</p>',
        '<form>',
        '<input type="text" name="request[phone]" placeholder="Телефон">',
        '<input type="checkbox" id="privacy-policy" name="request[policy]">',
        '</form>'
    ].join('')

    const requestDone = [
        '<p>Введите свой номер телефона и получите ответы<br />c вами свяжется специалист для консультации</p>'
    ].join('')

    const forgetBody = [
        '<p>Введите адрес элетронной почты от аккаунта<br/>для восстановления пароля</p>',
        '<form>',
        '<input type="text" name="request[email]" placeholder="Введите email">',
        '</form>'
    ].join('')

    const registerBody = [
        '<form>',
        '<input type="text" name="request[email]" placeholder="Email">',
        '<input type="text" name="request[name]" placeholder="Ваше имя">',
        '<input type="password" name="request[password]" placeholder="Пароль">',
        '<input type="password" name="request[repassword]" placeholder="Повторите пароль">',
        '<input type="checkbox" id="privacy-policy" name="request[policy]">',
        '<label for="privacy-policy">Я принимаю все <a>Условия и Соглашения</a></label>',
        '</form>'
    ].join('')

    export default {
        data() {
            return {
                links: [
                    {path: '#/products', name: 'Умные приборы<br />учета'},
                    {path: '#/services', name: 'Решения<br />для УК ЖКХ'},
                    {path: '#/cases', name: 'Решения для дачных сообществ<br />и коттеджных поселков'},
                    {path: '#/support', name: 'Инжиниринговые услуги<br />под ключ'}
                ],
                heading: 'Приборы и решения<br />с автоматической передачей показаний в ГИС ЖКХ',
                description: ' Мы предлагаем готовые решения на базе технологии LoRaWAN, включающее в себя оконечные устройства, базовые станции, а так же серверное и клиентское програмное обеспечение',
                button1Text: 'Личный кабинет',
                button2Text: 'Бесплатная консультация',
                button1Class: 'blue login button',
                button2Class: 'big yellow button',
                modal: {
                    showModal: false,
                    width: '685px',
                    height: '565px',
                    header: 'Получите консультацию<br />прямо сейчас',
                    body: modalBody,
                    buttonText: 'Отправить заявку',
                    buttonClass: 'big yellow no-float'
                },
                modalLogin: {
                    showModal: false,
                    width: '685px',
                    height: '510px',
                    header: 'Вход в личный кабинет',
                    body: modalLogin,
                    buttonText: 'Войти',
                    buttonClass: 'big yellow no-float'
                },
                requestDone: {
                    showModal: false,
                    width: '685px',
                    height: '380px',
                    header: '<span class="green">Мы получили вашу заявку</span>',
                    body: requestDone,
                    buttonText: 'Понятно',
                    buttonClass: 'big white no-float'
                },
                forgetModal: {
                    showModal: false,
                    width: '685px',
                    height: '510px',
                    header: 'Восстановление пароля',
                    body: forgetBody,
                    buttonText: 'Отправить',
                    buttonClass: 'big yellow no-float'
                },
                forgetSuccess: {
                    showModal: false,
                    width: '685px',
                    height: '380px',
                    header: '<span class="green">Мы отправили письмо<br/>с новым паролем</span>',
                    body: '',
                    buttonText: 'Понятно',
                    buttonClass: 'big white no-float'
                },
                registerModal: {
                    showModal: false,
                    width: '685px',
                    height: '680px',
                    header: 'Регистрация',
                    body: registerBody,
                    footer: '<a class="gray">Уже есть</a>',
                    buttonText: 'Зарегистрироваться',
                    buttonClass: 'big yellow no-float',
                    registerFooter: true
                }
            }
        },
        components: {
            ButtonEl,
            Modal,
        },
        methods: {
        }
    }
</script>

<style scoped>
    div.banner {
        width: 100%;
        height: 685px;
        background-image: linear-gradient(to right, #003873, #004a87, #005d9a, #0070ad, #0284c0);
        position: relative;
    }

    div.fullwidth {
        display: inline-block;
        width: 100%;
        clear: both;
    }

    div.jumbo > div {
        display: inline-block;
        vertical-align: top;
    }

    div.background {
        background: url('../../assets/images/waves.svg') no-repeat;
        background-position: 90px 300px;
        height: 100%;
    }

    a.next {
        display: block;
        width: 16px;
        height: 16px;
        background: url('../../assets/images/expand-arrow.svg') no-repeat;
        position: absolute;
        bottom: 32px;
        left: calc(50% - 8px);
    }

    div.jumbo .left {
        width: 53%;
    }

    div.jumbo .right {
        width: 46%;
    }

    div.jumbo h2 {
        font-size: 40px;
        margin-top: 115px;
        color: #FFF;
        font-weight: 900;
        margin-bottom: 25px;
    }

    div.jumbo p {
        color: #FFF;
        font-size: 20px;
        font-weight: 300;
        line-height: 1.2;
    }

    div.links {
        margin-top: 84px;
        float: right;
    }

    .link-item {
        display: block;
        background: #FFF;
        padding: 24px 25px;
        width: 400px;
        margin-bottom: 4px;
        position: relative;
        cursor: pointer;
        transition: transform ease-in-out .1s;
    }

    .link-item a {
        font-size: 20px;
        font-weight: 900;
        color: #0e345f;
    }

    .link-item:after {
        position: absolute;
        content: '';
        width: 30px;
        height: 30px;
        display: block;
        right: 10px;
        top: 30px;
        background: url('../../assets/images/right-arrow-forward.svg') center no-repeat;
    }

    .link-item:hover {
        transform: scale(1.03);
    }

    .link-item:hover:after {
        background: url('../../assets/images/arrow button.svg') center no-repeat;
    }

    a.button {
        margin-top: 15px;
    }

    @media screen and (max-width: 992px) {
        div.jumbo h2 {
            margin-top: 25px;
        }

        div.banner {
            height: auto;
        }

        div.links {
            margin-top: 25px;
            margin-bottom: 25px;
            float: left;
            width: 100%;
        }

        .link-item {
            width: auto;
        }

        div.jumbo .left {
            width: 100%;
            text-align: center;
        }

        div.jumbo .right {
            width: 100%;
            text-align: center;
        }

        a.button.big.yellow {
            display: inline-block;
            margin: 0 auto;
            float: none;
        }
    }
</style>