<template>
    <div>
        <banner></banner>
        <counter></counter>
        <request-form></request-form>
        <technology></technology>
        <about-us></about-us>
    </div>
</template>

<script>
    import Banner from './Banner.vue'
    import Counter from './Counter.vue'
    import RequestForm from './RequestForm.vue'
    import Technology from './Technology.vue'
    import AboutUs from './AboutUs.vue'

    export default {
        components: {
            Banner,
            Counter,
            RequestForm,
            Technology,
            AboutUs
        },
    }
</script>