<template>
    <div class="background-yellow text-center">
        <h3>Узнайте стоимость внедрения прямо сейчас</h3>
        <form>
            <input type="text" v-bind:placeholder="nameInputPlaceholder" class="inline" name="request[name]" />
            <input type="text" v-bind:placeholder="phoneInputPlaceholder" class="inline" name="request[phone]" />
            <textarea v-bind:placeholder="textAreaPlaceholder"></textarea>
            <section class="text-left">
                <input type="checkbox" id="privacy-policy" name="request[policy]">
                <label for="privacy-policy" v-html="checkBoxHtml"></label>
                <button-el v-on:click.native="modal.showModal = true" v-bind:button-text="buttonText" v-bind:button-class="buttonClass"></button-el>
            </section>
        </form>
        <modal
                v-if="modal.showModal"
                v-on:submit="modal.showModal = false"
                v-bind:width="modal.width"
                v-bind:height="modal.height"
                v-bind:buttonText="modal.buttonText"
                v-bind:buttonClass="modal.buttonClass"
                v-bind:header="modal.header"
                v-bind:body="modal.body"
                v-bind:footer="modal.footer"
                @close="modal.showModal = false">
        </modal>
    </div>
    </template>
<script>
    import ButtonEl from '../elements/ButtonEl.vue'
    import Modal from '../Modal.vue'
    const modalBody = ''
    export default {
        data() {
            return {
                buttonText: 'Отправить заявку',
                buttonClass: 'white big',
                nameInputPlaceholder: 'Ваше имя',
                phoneInputPlaceholder: 'Телефон',
                checkBoxHtml: 'Я согласен с <span class="bold"><a class="dark-blue" href="javascript:void(0)">Политикой конфиденциальности</a></span>',
                textAreaPlaceholder: 'Тут вы можете описать объект внедрения',
                modal: {
                    showModal: false,
                    width: '685px',
                    height: '320px',
                    header: '<span class="green">Мы получили вашу заявку</span>',
                    body: modalBody,
                    buttonText: 'Понятно',
                    buttonClass: 'big white no-float'
                }
            }
        },
        components: {
            ButtonEl,
            Modal
        }
    }
</script>
<style scoped>
    div {
        padding: 40px 0 27px 0;
        font-size: 18px;
    }

    form {
        width: 695px;
        margin: 62px auto;
    }

    input.inline {
        display: inline-block;
        width: 345px;
        height: 56px;
        border: none;
        padding: 10px 18px;
        font-size: 14px;
        font-weight: 700;
    }

    input.inline:-moz-placeholder,
    input.inline:-ms-input-placeholder,
    input.inline::-moz-placeholder,
    input.inline::-webkit-input-placeholder {
        color: #b0aeae;
        font-weight: 300 !important;
    }

    textarea {
        resize: none;
        border: none;
        display: block;
        margin: 10px auto;
        width: 695px;
        height: 80px;
        padding: 15px 17px;
        font-size: 14px;
    }

    section {
        margin-top: 20px;
    }

    @media screen and (max-width: 992px) {
        form {
            width: auto;
        }

        input.inline {
            width: 45%;
        }

        textarea {
            width: calc(90% + 6px);
        }

        section.text-left {
            width: calc(90% + 6px);
            margin: 0 auto;
        }
    }

    @media screen and (max-width: 576px) {
        form {
            width: auto;
        }

        input.inline {
            width: calc(90% + 6px);
            margin-bottom: 15px;
        }

        textarea {
            width: calc(90% + 6px);
        }

        a.big.white {
            float: none;
            margin: 32px auto;
            display: inline-block;
            text-align: center;
        }

        section.text-left {
            text-align: center;
        }
    }
</style>