<template>
    <div>
        <div class="jumbo">
            <div class="content">
                <div class="left">
                    <h2 v-html="heading"></h2>
                    <p v-html="desc"></p>
                    <button-el v-bind:path="'/products/software'" v-bind:button-class="buttonClass"  v-bind:button-text="buttonText"></button-el>
                </div>
                <div class="right">
                    <div class="mac-image"></div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import ButtonEl from '../elements/ButtonEl.vue'

    export default {
        components: {
            ButtonEl
        },
        data() {
            return {
                heading: 'Програмное обеспечение<br />для устройств LoRaWAN',
                desc: 'Программа разработана для удаленного контроля<br />расхода воды и электричества',
                buttonClass: 'big yellow',
                buttonText: 'Узнать подробнее'
            }
        }
    }
</script>

<style scoped>
    .jumbo {
        margin: 0;
        background: #273f4b;
        padding: 90px 0 0 0;
        max-height: 450px;
        overflow: hidden;
    }

    h2 {
        font-size: 29px;
        color: #FFF;
        margin-top: 40px;
        margin-bottom: 20px
    }

    p {
        color: #FFF;
        font-size: 17px;
        font-weight: 300;
    }

    a.big.yellow {
        padding: 14px 30px;
        margin-top: 14px;
    }

    .mac-image {
        width: 100%;
        height: 390px;
        background-image: url('../../assets/images/mac.png');
        background-repeat: no-repeat;
        background-size: contain;
    }

    @media screen and (max-width: 992px) {
        .jumbo {
            padding: 60px 0;
        }
    }
</style>