<template>
    <div class="text-center wrapper">
        <div class="content">
            <h2>Основные проблемы УК и ЖКХ</h2>
            <span>
                Применяется для учета расхода холодной и горячей воды с накоплением <br />и передачей этих показаний в сеть LoRaWAN
            </span>
            <div class="flexbox">
                <div v-for="item in items" class="text-left">
                    <div class="icon" v-bind:style="{'background-image' : 'url(\'' + require('../../assets/images/' + item.icon) + '\')' }"></div>
                    <div class="desc">
                        <h4>{{ item.title }}</h4>
                        <p>{{ item.desc }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                items: [
                    {icon: 'problem-icon1.svg', title: 'Округение показателей', desc: 'Зачастую жители округляют в меньшую сторону'},
                    {icon: 'problem-icon2.svg', title: 'Подача показателей в разное время', desc: 'Подача в разное время плохо влияет на общедомовой учет'},
                    {icon: 'problem-icon3.svg', title: 'Обман со стороны жителей', desc: 'Подача в разное время плохо влияет на общедомовой учет'},
                    {icon: 'problem-icon4.svg', title: 'Использование сторонних приборов', desc: 'Зачастую жители округляют в меньшую сторону'},
                    {icon: 'problem-icon5.svg', title: 'Человеческий фактор', desc: 'Подача в разное время плохо влияет на общедомовой учет'},
                    {icon: 'problem-icon6.svg', title: 'Непредвиденные факторы', desc: 'Подача в разное время плохо влияет на общедомовой учет'}
                ]
            }
        }
    }
</script>
<style scoped>
    .wrapper {
        padding: 60px 0 48px 0;
        background: #FFFFFF;
    }

    h2 {
        margin-top: 20px;
        font-size: 27px;
    }

    h2 + span {
        font-size: 17px;
    }

    h4 {
        margin: 0;
        font-size: 23px;
    }

    .flexbox {
        display: flex;
        flex-wrap: wrap;
        margin-top: 63px;
    }

    .flexbox > div {
        flex-basis: 368px;
        flex-shrink: 1;
        flex-grow: 1;
        margin-top: 32px;
        margin-bottom: 45px;
    }

    @media screen and (max-width: 576px) {
        .flexbox > div .icon,
        .flexbox > div .desc {
            display: block;
            margin: 15px auto;
        }

        .flexbox > div .desc {
            text-align: center;
        }
    }

    .icon {
        display: inline-block;
        vertical-align: top;
        width: 90px;
        height: 90px;
        background: no-repeat center;
        background-size: cover;
    }

    .desc {
        display: inline-block;
        vertical-align: top;
        width: 250px;
        margin: 0 0 0 10px;
        line-height: 1;
    }

    .desc p {
        font-size: 19px;
        margin: 10px 0 0 0;
    }
</style>