<template>
    <div>
        <div class="wrapper">
            <nav-panel :items="subs"></nav-panel>
            <div class="jumbo">
                <div class="ribbon">{{ ribbonText }}</div>
                <div class="content">
                    <div class="left">
                        <div class="badge">{{ badgeText }}</div>
                        <h3 v-html="heading"></h3>
                        <button-el v-bind:button-text="jumboButtonText" v-bind:button-class="jumboButtonClass"></button-el>
                    </div>
                    <div class="right">
                    </div>
                </div>
            </div>
        </div>
        <problems></problems>
        <losses></losses>
        <solution-scheme></solution-scheme>
        <opportunities-block></opportunities-block>
        <request-form></request-form>
    </div>
</template>
<script>
    import NavPanel from '../elements/NavPanel.vue'
    import AdvantageEl from '../elements/Advantage.vue'
    import ButtonEl from '../elements/ButtonEl.vue'
    import Problems from './Problems.vue'
    import Losses from './Losses.vue'
    import RequestForm from '../main/RequestForm.vue'
    import OpportunitiesBlock from '../product/OpportunitiesBlock.vue'
    import SolutionScheme from './SolutionScheme.vue'
    export default {
        data() {
            return {
                ribbonText: 'Пользуется большим спросом!',
                badgeText: 'Готовое решение для УК',
                heading: 'Современный метод борьбы со сверхнормативным потреблением ресурсов по ОДН',
                jumboButtonText: 'Бесплатный расчет стоимости',
                jumboButtonClass: 'big yellow',
                subs: [
                    {name: 'Водосчетчики', path: '/products/water'},
                    {name: 'Электросчетчики', path: '/products/electro'},
                    {name: 'Диспетчеризация для УК', path: '/products/uk-dispatch'},
                    {name: 'Диспетчеризация для СНТ', path: '/products/dispatching-snt'},
                    {name: 'Программное обеспечение', path: '/products/software'}
                ]
            }
        },
        components: {
            NavPanel,
            AdvantageEl,
            ButtonEl,
            Problems,
            Losses,
            RequestForm,
            OpportunitiesBlock,
            SolutionScheme
        }
    }
</script>

<style scoped>
    a {
        margin-top: 10px;
        padding: 14px 19px;
    }

    .ribbon {
        background: url('../../assets/images/ribbon.svg');
        width: 342px;
        height: 35px;
        position: absolute;
        right: 0;
        top: 49px;
        color: #000;
        font-weight: 700;
        line-height: 2.5;
        padding-left: 33px;
        font-size: 14px;
        text-align: left;
    }

    .wrapper {
        padding-top: 50px;
    }

    .jumbo {
        padding: 106px 0 80px 0;
        position: relative;
        background: #FFF;
        background: url('../../assets/images/cover.jpg') center no-repeat;
        height: 500px;
    }

    .badge {
        display: inline-block;
        background-color: #ea491a;
        padding: 8px 20px;
        color: #FFFFFF;
        font-weight: 700;
        border-radius: 5px;
        font-size: 14px;
    }

    h3 {
        font-weight: 900;
        margin-bottom: 8px;
        color: #FFF;
        font-size: 34px;
        margin-top: 28px;
    }

    p {
        font-size: 17px;
        margin-bottom: 27px;
    }
</style>
